@fontDecorative:      "Kelly Slab", "monotype", "courier new", sans-serif;
@fontMonoSpace:       "Share Tech Mono", monospace;

@siteWidth:           850px;

@colorBackground:     #f5f5f5;
@colorBackgroundBox:  #ffffff;
@colorBackgroundBlue: #205081;
@colorText:           #424242;
@colorTextBlue:       #ffffff;
@colorBorder:         #cccccc;

@colorGreen:          #207c13;
@colorRed:            #ca0b0b;
@colorGrey:           #aaaaaa;
@colorOrange:         #ff8407;
@colorBlack:          #424242;
@colorWhite:          #ffffff;
@colorBlue:           #205081;

// -------------------------------- All -------------------------------- //

body {
  margin: 0;
  padding: 0;
  background: @colorBackground none top repeat;
  color: @colorText;
  a {
    cursor: pointer;
    color: @colorText;
    text-decoration: none;
    &:hover{
      color: @colorBackgroundBlue;
    }
    * {
      cursor: pointer;
    }
  }
  .none {
    display: none;
  }
}

// -------------------------------- Top -------------------------------- //

.topLine {
  width: 100%;
  display: block;
  background: @colorBackgroundBlue;
  color: @colorTextBlue;
  padding: 10px 0;
  font-family: @fontDecorative;
  font-size: 28px;
  .topLineBox{
    width: @siteWidth;
    margin: 0 auto;
  }
  .topLineLogo {
    padding-left: 65px;
    img {
      position: absolute;
      margin: -10px 0 0 -65px;
      padding: 11px;
      height: 32px;
      background-color: @colorBackground;
    }
    strong {
      opacity: 0.4;
      font-weight: normal;
      margin-left: 1px;
    }
  }
  .topLineEmail {
    float: right;
    input {
      margin-top: -2px;
      background: none;
      color: @colorTextBlue;
      border: none;
      text-align: right;
      width: 500px;
      cursor: text;
      &::-webkit-input-placeholder {
        color: @colorTextBlue;
      }
      &:focus {
        &::-webkit-input-placeholder{
          opacity: 0.3;
        }
      }
    }
  }
}

// -------------------------------- Color -------------------------------- //

.color-green {
  color: @colorGreen;
}

.color-red {
  color: @colorRed;
}

.color-grey {
  color: @colorGrey;
}

.color-orange {
  color: @colorOrange;
}

.color-black {
  color: @colorBlack;
}

.color-white {
  color: @colorWhite;
}

// -------------------------------- Footer -------------------------------- //

#footer {
  width: 100%;
  text-align: center;
  display: block;
  color: @colorGrey;
  margin-top: 20px;
  position: fixed;
  bottom: 15px;
}

// -------------------------------- Panda -------------------------------- //

.penguinBox {
  width: @siteWidth;
  margin: 100px auto;
  background: url("./penguin.png") top no-repeat;
  padding-top: 330px;
  text-align: center;
}

// -------------------------------- Content -------------------------------- //

.content {
  width: @siteWidth;
  margin: 50px auto;
  border: 1px solid @colorBorder;
  background-color: @colorBackgroundBox;
  font-size: 16px;
  .contentItem {
    font-family: @fontMonoSpace;
    color: @colorGrey;
    margin: 0 10px;
    padding: 15px 5px;
    border-bottom: 1px solid @colorBorder;
    .contentItemUrl {
      display: inline-block;
      span {
        font-size: 22px;
      }
    }
    .icon-sms {
      cursor: help;
    }
    .contentItemIconBox {
      float: right;
      font-size: 22px;
      .contentItemLock {
        cursor: pointer;
      }
      .contentItemHistory {
        cursor: pointer;
      }
      .icon-close {
        cursor: pointer;
        &:hover {
          color: @colorRed;
        }
      }
    }
  }
  .contentItemLast {
    border-bottom: none;
    padding: 5px 0;
  }
}

// -------------------------------- Form -------------------------------- //

.form-row {
  margin: 0 auto;
  text-align: center;
  color: @colorText;

  span {
    position: relative;
    display: inline-block;
    margin: 10px 5px;
  }
}

.form-submit {
  width: 260px;
  height: 38px;
  background-color: @colorBackgroundBlue;
  color: @colorWhite;
  border: 0;
  border-radius: 3px;
}

.slide-up {
  display: inline-block;
  width: 245px;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  color: @colorBackgroundBlue;
  box-shadow: 0 0 0 1px @colorBackgroundBlue inset;
  background: @colorBackground;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 80px;
  transition: all .3s ease-in-out;

  &::-webkit-input-placeholder {
    color: @colorBackground;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    color: @colorWhite;

    &:before,
    &:after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      z-index: -1;
      transition: all .3s ease-in-out;
    }
    &:before {
      top: 6px;
      left: 5px;
      right: 5px;
      bottom: 6px;
      background: @colorBackgroundBlue;
    }
    &:after {
      top: 0;
      bottom: 0;
      background: @colorBackgroundBlue;
    }
  }
}
span:nth-child(1) .slide-up {
  text-indent: 47px;
}
span:nth-child(2) .slide-up {
  text-indent: 65px;
}
span:nth-child(3) .slide-up {
  text-indent: 80px;
}
span:nth-child(5) .slide-up {
  text-indent: 90px;
}
span:nth-child(1) .slide-up:focus,
span:nth-child(1) .slide-up:active,
span:nth-child(2) .slide-up:focus,
span:nth-child(2) .slide-up:active,
span:nth-child(3) .slide-up:focus,
span:nth-child(3) .slide-up:active,
span:nth-child(5) .slide-up:focus,
span:nth-child(5) .slide-up:active {
  text-indent: 0;
}
.slide-up:focus,
.slide-up:active {
  color: @colorBackgroundBlue;
  text-indent: 0;
  background: @colorBackground;

  &::-webkit-input-placeholder {
    color: @colorText;
  }
  + label {
    transform: translateY(-100%);

    &:before {
      border-radius: 5px;
    }
    &:after {
      transform: translateY(100%);
    }
  }
}

.slide-up[type=submit]{
  width: 260px;
}

.squaredOne {
  width: 38px;
  height: 38px;
  position: absolute;
  display: inline-block;
  top: -5px;
  left: 40px;
  background: @colorBackgroundBlue;
  border-radius: 3px;
}
.squaredOne label {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background-color: @colorBackgroundBox;
  border-radius: 2px;
}
.squaredOne label:after {
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  background-color: @colorBackgroundBlue;
  border-radius: 2px;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

// -------------------------------- Alert -------------------------------- //

.alertBox {
  position: absolute;
  top: -250px;
  left: 0;
  color: @colorWhite;
  #alert {
    padding: 14px 20px 14px 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-left: none;
    * {
      vertical-align: middle;
    }
    .icon {
      display: inline-block;
      width: 26px;
      font-size: 26px;
      margin-right: 15px;
      color: @colorWhite;
    }
    .text {
      display: inline-block;
    }
  }
  .error {
    background-color: @colorRed;
  }
  .info {
    background-color: @colorBlue;
  }
  .ok {
    background-color: @colorGreen;
  }
}